<h2>SqlAlchemy Initialization</h2>
1. create engine (connections pool and dialect) using url constructed with the following strcture:
 <h3>dialect+driver://username:password@server_host:port/database</h3>

In [13]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:deri1978@localhost:5432/examples')

def exe_query(query):
    with engine.connect() as conn:
        result = conn.execute(query)
    return result

def print_results(results):
    for item in results:
        print(item)

<h2>Create the example database using sqlalchemy </h2>

Create Table objects containing Column objects and for each column its minimal initialization parameters.
When creating a Table we supply Metadata object which will hold the schema structure (tables, columns, types, constraints..)

In [14]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()

persons = Table("persons", metadata,
               Column('id', String, primary_key = True),
               Column('address_id', String, ForeignKey('addresses.id')),
               Column('name', String),
               Column('lastname', String),
               Column('age', Integer))

addresses = Table('addresses', metadata,
   Column('id', String, primary_key = True),
   Column('zip_code', Integer),
   Column('street', String),
   Column('street_number', Integer),
   Column('city', String),)

metadata.create_all(engine)

<h2>Insert data into tables</h2>

Connection object allow execution of various commands.<br/>
Using "with" (Python contex manager) ensure closing the connection and bring it back to the pool
imediatly after finish using it

In [ ]:
with engine.connect() as connection: # this will use a connection from the pool
    connection.execute(addresses.insert(), [
            {"id": "rahel_10_haifa", "person_id": "036203131", "zip_code": 3440115, "street": "Rahel", "street_number": 10, "city": "Haifa"},            
        ])
    connection.execute(persons.insert(), [
            {"id": "036203131", "address_id": "rahel_10_haifa", "name": "shay", "lastname": "deri", "age": 42},
            {"id": "036214823", "address_id": "rahel_10_haifa", "name": "gali", "lastname": "mishkal", "age": 41},
            {"id": "not_remember_1", "address_id": "rahel_10_haifa", "name": "omri", "lastname": "deri", "age": 9}
        ])

## Querying

select, order-by, where, using sqlalchemy abstructions

In [104]:
from sqlalchemy import select
# option 1 - using imported 'select' and reflect database metadata
my_db_meta = MetaData()
my_db_meta.reflect(bind=engine)
reflected_persons = my_db_meta.tables['persons']
select_all_persons = select([reflected_persons])
results = exe_query(select_all_persons)
for item in results:
    print(item)
print("******************************************************")
# option 2 - using table API
select_all_persons = reflected_persons.select()
results = exe_query(select_all_persons)
for item in results:
    print(item)

('036203131', 'rahel_10_haifa', 'shay', 'deri', 42)
('036214823', 'rahel_10_haifa', 'gali', 'mishkal', 41)
('not_remember_1', 'rahel_10_haifa', 'omri', 'deri', 9)
******************************************************
('036203131', 'rahel_10_haifa', 'shay', 'deri', 42)
('036214823', 'rahel_10_haifa', 'gali', 'mishkal', 41)
('not_remember_1', 'rahel_10_haifa', 'omri', 'deri', 9)

## where clause + order_by + limit + offset

In [101]:
from sqlalchemy import and_
query = reflected_persons.select().where(and_(reflected_persons.c.age > 10, reflected_persons.c.age < 43)).order_by(reflected_persons.c.name).limit(1).offset(1)
results = exe_query(query)
for item in results:
    print(item)

('036203131', 'rahel_10_haifa', 'shay', 'deri', 42)

## Grouping

In [116]:
# functions
from sqlalchemy.sql import func
query = select([func.max(reflected_persons.c.age)])
result = exe_query(query)
print(result.scalar())

# group-by + count
query = select([func.count(reflected_persons.c.address_id).label('count_address'), reflected_persons.c.address_id]).\
        group_by(reflected_persons.c.address_id).order_by(Column("count_address"))
results = exe_query(query)
print_results(results)

42
(1, 'rut_9_haifa')
(3, 'rahel_10_haifa')

##  Join

In [105]:
reflected_addresses = my_db_meta.tables['addresses']
# join part
join = reflected_persons.join(reflected_addresses, reflected_persons.c.address_id == reflected_addresses.c.id)
# full query using join part
query = select([reflected_persons.c.name, reflected_addresses]).select_from(join)
results = exe_query(query)
for idx, item in enumerate(results):
    print(f"item {idx}: {item}")

item 0: ('shay', 'rahel_10_haifa', 3440115, 'Rahel', 10, 'Haifa')
item 1: ('gali', 'rahel_10_haifa', 3440115, 'Rahel', 10, 'Haifa')
item 2: ('omri', 'rahel_10_haifa', 3440115, 'Rahel', 10, 'Haifa')